@import "../config";

/**
 * @module playground
 */

.cell {
  $ball_appearance_transition: .2s ease-in-out;

  display: inline-block;
  width: $cell-size;
  height: $cell-size;
  margin: $cell-size * $cell-margin-ratio;

  @include as-button;

  // ------ Ball, Intention ------
  &::before {
    content: "";
    display: block;

    width: 100%;
    height: 100%; // Size is controlled via `scale`.
    border-radius: 50%;

    transform: scale(0, 0);
    transition: transform $ball_appearance_transition;
  }

  // ------ Ball ------
  &[ball] {
    cursor: pointer;
  }

  &[ball]::before {
    transform: scale($ball-size);
  }

  &[ball][selected]::before {
    animation: selected-animation 1s infinite;
    animation-timing-function: ease;
  }

  @keyframes selected-animation {
    0% { transform: scale($ball-size); }
    30% { transform: scale(1); }
    100% { transform: scale($ball-size - .1); }
  }

  // ------ Intention ------
  &[intention]::before {
    transform: scale($intention-ball-size);
  }
}
