@use "sass:color";
@use "sass:list";

/**
 * @module playground
 * @module playground.cell
 */

.playground.palette-1 {
  $colors:
    hsl(040, 80%, 60%),
    hsl(130, 80%, 60%),
    hsl(200, 80%, 60%),
    hsl(260, 80%, 60%),
    hsl(340, 80%, 60%);

  @for $i from 1 through 5 {
    $color: list.nth($colors, $i);

    .cell[ball="#{$i}"]::before,
    .cell[drop="#{$i}"]::before {
      background-image: radial-gradient(
        ellipse at 35% 35%,
        color.adjust($color, $lightness: 30%) 0%,
        $color 30%,
        color.adjust($color, $lightness: -20%) 100%,
      );
    }

    .cell[trace="#{$i}"] {
      border-color: color.adjust($color, $lightness: 30%);
      background-color: color.adjust($color, $lightness: 30%);
    }
  }
}
