@use "sass:list";

/**
 * @module playground
 * @module playground.cell
 */

.playground.palette-1 {
  $colors: #aaa, #02d, #1b1, #cb2, #e02;

  @for $i from 1 through 5 {
    $color: list.nth($colors, $i);

    .cell[ball="#{$i}"]::before,
    .cell[intention="#{$i}"]::before {
      background-image: radial-gradient(
        ellipse at 35% 35%,
        lighten($color, 30%) 0%,
        $color 50%,
        darken($color, 20%) 100%,
      );
    }

    .cell[trace="#{$i}"] {
      border-color: transparent;
      background-color: lighten($color, 30%);
    }
  }
}
