@use "sass:color";

$font-size: 18px;

// Perfectly fine for vertically oriented viewports with `H >= 90vw + room for header/footer`;
$playground-width: 80vmin;
$small-screen: 28rem;

$cell-margin-ratio: .05;
$cells-in-row: 9;

$cell-size: calc($playground-width / ($cells-in-row * (1 + 2 * $cell-margin-ratio)));

$cell-border-color: #bbb;
$link-color: hsl(200, 70%, 35%);
$ui-interaction-transition: .2s ease-in-out;

$ball-size: .9;
$planned-ball-size: .2;

@mixin as-button {
  $highlight-color: color.adjust($cell-border-color, $lightness: 20%);

  border-radius: 2 * $cell-size * $cell-margin-ratio;
  user-select: none;

  border: 1px dotted $cell-border-color;
  background-color: transparent;
  transition:
    background-color $ui-interaction-transition,
    border-color $ui-interaction-transition;

  &:hover {
    border-color: $highlight-color;
    background-color: $highlight-color;
  }
}

@mixin flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

@mixin header-footer() {
  @include flex-row();
  justify-content: space-between;

  width: $playground-width - 2 * $cell-size * $cell-margin-ratio;
  margin-left: auto;
  margin-right: auto;
}

@mixin landscape-phone {
  @media (orientation: landscape) and (max-height: 28rem) {
    @content;
  }
}
