@use "config" as *;

footer.footer {
  @include header-footer(/* $footer-height */);

  font-size: .75rem;
  margin-top: .5rem;
  margin-bottom: .5rem;

  .help {}

  .credits {
    color: $cell-border-color;
  }
}
