@use "config" as *;

footer.footer {
  @include header-footer();

  font-size: .75rem;
  margin-top: 1rem;
  margin-bottom: .5rem;

  @media (orientation: landscape) and (max-height: $small-screen) {
    margin-top: .5rem;
  }
}
