@import "config";

footer.footer {
  @include header-footer($footer-height);

  & * {
    font-size: .5rem;
    color: $cell-border-color;
  }

  .help {
    float: left;
  }

  .credits {
    float: right;

    a {
      color: #028;
    }
  }
}
