@import "config";

header.stats-panel {
  @include header-footer($header-height);

  .undo {
    float: left;
    padding: 0 1rem;
    font-size: 1rem;
    color: $cell-border-color;
    cursor: pointer;

    @include as-button;
  }

  .score {
    float: right;
    font-family: monospace;
    font-weight: bold;
    color: $cell-border-color;
  }
}
